playwright>=1.49.1
aiohttp>=3.11.11
telethon>=1.38.1
pyrogram>=2.0.106
tgcrypto>=1.2.5
requests>=2.32.3
tenacity>=9.0.0
yt-dlp>=2025.1.26
beautifulsoup4>=4.13.1
curl-cffi>=0.7.4
websockets>=14.2
deep-translator>=1.11.4
aiosqlite>=0.20.0
Pillow>=11.1.0
gallery-dl>=1.28.5
psutil>=6.1.1
